@model CoopTableViewModel
<!-- Coop Table -->
<h1 style="color: orange; padding-top: 50px; text-align: center; padding-bottom: 50px;">Coop Table</h1>

@if (Model?.CoopTable?.CoopInformation != null && Model.CoopTable.CoopInformation.Any())
{
    <table class="table" style="padding-bottom: 50px;">
        <thead>
            <tr>
                <th>Employer</th>
                <th>Degree</th>
                <th>City</th>
                <th>Term</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coopInfo in Model.CoopTable.CoopInformation)
            {
                <tr>
                    <td>@coopInfo.Employer</td>
                    <td>@coopInfo.Degree</td>
                    <td>@coopInfo.City</td>
                    <td>@coopInfo.Term</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No co-op information available</p>
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>$(document).ready(function () {
            $('.table').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "searching": true,
                "dom": 'lrtip'
            });
        });</script>
}
