@model GraduateViewModel
<!-- Graduate Degrees Header -->
<h1 style="color: orange; padding-top: 50px; text-align: center; padding-bottom: 50px;">Graduate Degrees</h1>

<!-- Check if Graduate degree data exists -->
@if (Model.graduate != null && Model.graduate.Length > 0)
{
    <!-- Iterate through each graduate degree -->
    <div class="row" style="padding-bottom: 300px;">
        @foreach (var degree in Model.graduate)
        {
            <!-- Graduate Degree Card -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="color: orange;">@degree.Title</h5>
                        <p class="card-text">@degree.Description</p>
                        <!-- Check if Concentrations exist -->
                        @if (degree.Concentrations != null)
                        {
                            <a href="javascript:void(0);" class="toggle-link" style="color: orange;">Show Concentrations</a>
                            <ul class="list-group collapse">
                                <!-- Iterate through each concentration -->
                                @foreach (var concentration in degree.Concentrations)
                                {
                                    <li class="list-group-item">@concentration</li>
                                }
                            </ul>
                        }
                        <!-- Check if AvailableCertificates exist -->
                        @if (degree.AvailableCertificates != null && degree.AvailableCertificates.Length > 0)
                        {
                            <a href="javascript:void(0);" class="toggle-link" style="color: orange;">Show Certificates</a>
                            <ul class="list-group collapse">
                                <!-- Iterate through each certificate -->
                                @foreach (var certificate in degree.AvailableCertificates)
                                {
                                    <li class="list-group-item">@certificate</li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <!-- No graduate degree data available message -->
    <div class="col-12">
        <h4>No graduate degree data available</h4>
    </div>
}

<!-- Scripts Section -->
@section Scripts {
    <!-- jQuery and Bootstrap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Toggle Link Script -->
    <script>$(document).ready(function () {
            $('.toggle-link').click(function () {
                var text = $(this).text();
                $(this).next('.collapse').collapse('toggle');
                $(this).text(text.includes('Show') ? text.replace('Show', 'Hide') : text.replace('Hide', 'Show'));
            });
        });</script>
}
